<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
  <h2 class="text-black-200 font-serif text-4xl my-7"> Create a new Product</h2>
<%= render 'products/form' %>
  </div>
</div>